@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.padding-title {
    padding-top: 40px;
}

.fix-height {
 height: 60px;
 background-color: black;
}

.padding-title-20 {
    padding-top: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.fix-height-img {
 height: 158px;
 background-color: black;
}

.item-color {
    color: #fffbfb !important;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

.information {
    background-color: black;
    color: white;
}

.content {
  height: 150px;
    background-color: darkgray;
}